[submodule "HelperBotClient"]
	path = HelperBotClient
	url = https://github.com/SmyshlyaevOleg/HelperBotClient
[submodule "ZSKHelperServer"]
	path = ZSKHelperServer
	url = https://github.com/SmyshlyaevOleg/ZSKHelperServer
